<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Solicitação de novo PIN</title>
    <style>
        @font-face {
            font-family: "gilroy";
            src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot");
            src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff") format("woff"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.svg#Gilroy Light") format("svg");
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff; font-family: gilroy;">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
        style="max-width: 500px; margin: 0 auto; background-color: #f7f7f7;">
        <tr>
            <td style="padding: 30px 30px 10px 30px;">
                <h1 style="text-align: center;"><img src="cid:logo" width="50%" alt=""></h1>
                <h1 style="color: #292536; text-align: center;">Solicitação de novo PIN</h1>
                <h2
                    style="padding-top: 20px; margin-bottom: 0; color:#3d3d3d; text-align: center; background-color: #d8d8d8;">
                    Aqui está o seu novo PIN:</br></br>
                    <h1
                        style="padding-bottom: 10px; margin-top: 0; background-color: #d8d8d8; color:#000000; text-align: center; font-size: 40px; letter-spacing: 10px; font-weight: 300;">
                        {{pin}}</h1>
                </h2>
                <p style="color: #00000080; text-align: center;">É altamente recomendável após receber um novo PIN,
                    ir até a plataforma e realizar a alteração do mesmo</p>
                <p style="color: #00000080; text-align: center;">Se você não solicitou essa alteração, mude sua senha
                    imediatamente para evitar futuros acessos não autorizados</p>
                <p style="color: #00000080; text-align: center;">Clique no botão abaixo para ser levado a plataforma</p>
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; width: 200px;">
                    <tr>
                        <td align="center" bgcolor="#0042a5" style="border-radius: 20px;">
                            <a href="{{host}}login" target="_blank" rel="noopener noreferrer"
                                style="border-radius: 20px; display: inline-block; padding: 12px 24px; text-decoration: none; color: #ffffff; font-size: 18px;">Ir
                                a plataforma</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%"
        style="max-width: 500px; background-color: #f7f7f7;">
        <tr>
            <td style="padding: 10px 30px 30px 30px;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <h1>
                                <a target="_blank" href="https://infinit-pix.com/conheca" rel="noopener noreferrer"><img
                                        src="cid:iconLogo" width="5%" height="5%" alt="infinit icon"
                                        style="margin: 0 10px; width: 20px; height: 20px;"></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="hhttps://t.me/Suporte_InfinitPix" rel="noopener noreferrer"><img
                                        src="cid:iconTele" width="5%" height="5%" alt="telegram icon"
                                        style="margin: 0 10px; width: 20px; height: 20px;"></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://wa.me/5511911437559?text=Olá estou vindo através do email de geração de pin, para solucionar uma dúvida." rel="noopener noreferrer"><img
                                        src="cid:iconWhats" width="5%" height="5%" alt="whatsapp icon"
                                        style="margin: 0 10px; width: 20px; height: 20px;"></a>&nbsp;&nbsp;&nbsp;
                                <a target="_blank" href="https://www.instagram.com/infinit.pix/"
                                    rel="noopener noreferrer"><img src="cid:iconInsta" width="5%" height="5%"
                                        alt="instagram icons" style="margin: 0 10px; width: 20px; height: 20px;"></a>
                            </h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px; text-align: center;">
                            <p style="font-size: 14px; color: #00000080; margin: 0; text-decoration: none;">
                                support@infinit-pix.com</p>
                            <p style="font-size: 14px; color: #00000080; margin: 0;">Atendemos das 8h às 18h em dias úteis.</p>
                            <p style="font-size: 14px; color: #00000080; margin: 0;">
                                Não responda para este email, se pretende entrar em contato, use as nossas redes
                                sociais.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; margin: 0; text-align: center;">
                            <p style="font-size: 12px; color: #00000080; margin: 0;">
                                Infinit-Pix
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
