<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Solicitação de token de acesso</title>
    <style>
        @font-face {
            font-family: "gilroy";
            src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot");
            src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff") format("woff"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.svg#Gilroy Light") format("svg");
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff; font-family: gilroy;">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
        style="max-width: 500px; margin: 0 auto; background-color: #f7f7f7;">
        <tr>
            <td style="padding: 30px 30px 10px 30px;">
                <h1 style="text-align: center;"><img src="cid:logo" width="50%" alt=""></h1>
                <h1 style="color: #292536; text-align: center;">Solicitação de acesso</h1>
                <p style="color: #00000080; text-align: center;">Identificamos uma tentativa de acesso à sua conta. Se você não tentou acessar sua conta recentemente, recomendamos que você altere sua senha imediatamente.</p>
                <h2
                    style="padding-top: 20px; margin-bottom: 0; color:#3d3d3d; text-align: center; background-color: #d8d8d8;">
                    Aqui está o seu código de acesso:</br></br>
                    <h1
                        style="padding-bottom: 10px; margin-top: 0; background-color: #d8d8d8; color:#000000; text-align: center; font-size: 40px; letter-spacing: 10px; font-weight: 300;">
                        {{token}}</h1>
                </h2>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%"
        style="max-width: 500px; background-color: #f7f7f7;">
        <tr>
            <td style="padding: 10px 30px 30px 30px;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td style="text-align: center;">
                            <p style="font-size: 14px; color: #00000080; margin: 0;">
                                Não responda para este email, se pretende entrar em contato, busque a administração.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; margin: 0; text-align: center;">
                            <p style="font-size: 12px; color: #00000080; margin: 0;">
                                Condo-Management
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>