<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Solicitação de recuperação de senha</title>
    <style>
        @font-face {
            font-family: "gilroy";
            src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot");
            src: url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.woff") format("woff"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0744a43ed7aac352ec78c1404c890d72.svg#Gilroy Light") format("svg");
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff; font-family: gilroy;">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
        style="max-width: 600px; margin: 0 auto; background-color: #f7f7f7;">
        <tr>
            <td>
                <h1 style="text-align: center;"><img src="cid:logo" width="100%" alt=""></h1>
                <h1 style="color: #292536; text-align: center;">Solicitação de recuperação de senha</h1>
                <p style="color: #00000080; text-align: center;">Se foi você mesmo quem realizou essa solicitação prossiga, caso contrário ignore este email.</p>
                <p style="color: #00000080; text-align: center;">Para definir sua nova senha clique no botão abaixo.</p>
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; width: 200px;">
                    <tr>
                        <td align="center" bgcolor="#081226" style="border-radius: 20px;">
                            <a href="{{host}}forgot-password?token={{token}}" target="_blank" rel="noopener noreferrer"
                                style="border-radius: 20px; display: inline-block; padding: 12px 24px; text-decoration: none; color: #ffffff; font-size: 18px;">Definir nova senha</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%"
        style="max-width: 600px; background-color: #f7f7f7;">
        <tr>
            <td style="padding: 10px 30px 30px 30px;">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td style="padding-top: 10px; text-align: center;">
                            <p style="font-size: 14px; color: #00000080; margin: 0;">
                                Não responda para este email, se pretende entrar em contato, busque a administração.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 20px; margin: 0; text-align: center;">
                            <p style="font-size: 12px; color: #00000080; margin: 0;">
                                Condo-Management
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
